<!DOCTYPE html>
<html>
  <head>
    <title>Datcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('DatcordLogoColor.png') %>">
    <script type="text/javascript">
      window.headerLogoURL = "<%= image_url('landing_page/LandingPageHeaderLogo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
