<!DOCTYPE html>
<html>
  <head>
    <title>Datcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('DatcordLogoColor.png') %>">
    <script type="text/javascript">
      window.downloadIconURL = "<%= image_url('icons/download.png')%>"
      window.downloadWhiteIconURL = "<%= image_url('icons/downloadwhite.png')%>"
      window.headerLogoURL = "<%= image_url('landing_page/LandingPageHeaderLogo.png') %>";
      window.landingPageCityURL = "<%= image_url('landing_page/background/city.svg') %>";
      window.landingPageGroupURL = "<%= image_url('landing_page/background/group.svg') %>";
      window.landingPageManFrogURL = "<%= image_url('landing_page/background/manfrog.svg') %>";
      window.landingPageCastle1URL = "<%= image_url('landing_page/background/castlecloud.svg') %>";
      window.landingPageCastle2URL = "<%= image_url('landing_page/background/castlecloud2.svg') %>";
      window.landingPageDiamondURL = "<%= image_url('landing_page/background/diamond.svg') %>";
      window.landingPageFloatingShipURL = "<%= image_url('landing_page/background/ship.svg') %>";
      window.landingPageBalloonGuyURL = "<%= image_url('landing_page/background/balloonguy.svg') %>";
      window.landingPageSmallBottomCloud1URL = "<%= image_url('landing_page/background/clouds/smallbottomcloud1.svg') %>";
      window.landingPageSmallBottomCloud2URL = "<%= image_url('landing_page/background/clouds/smallbottomcloud2.svg') %>";
      window.landingPageMediumLBCloudURL = "<%= image_url('landing_page/background/clouds/mediumlbcloud.svg') %>";
      window.landingPageMediumBCloudURL = "<%= image_url('landing_page/background/clouds/mediumbcloud.svg') %>";
      window.landingPageMediumDBCloudURL = "<%= image_url('landing_page/background/clouds/mediumdbcloud.svg') %>";
      window.landingPageMediumPCloudURL = "<%= image_url('landing_page/background/clouds/mediumpcloud.svg') %>";
      window.landingPageLargeBCloud1URL = "<%= image_url('landing_page/background/clouds/largeblue1.svg') %>";
      window.landingPageLargeBCloud2URL = "<%= image_url('landing_page/background/clouds/largeblue2.svg') %>";
      window.landingPageLargeLBCloud1URL = "<%= image_url('landing_page/background/clouds/largelightblue1.svg') %>";
      window.landingPageLargeLBCloud2URL = "<%= image_url('landing_page/background/clouds/largelightblue2.svg') %>";
      window.landingPageSlice1URL = "<%= image_url('landing_page/background/slices/slice1.svg') %>";
      window.landingPageSlice2URL = "<%= image_url('landing_page/background/slices/slice2.svg') %>";
      window.landingPageSlice3URL = "<%= image_url('landing_page/background/slices/slice3.svg') %>";
      window.landingPageSlice4URL = "<%= image_url('landing_page/background/slices/slice4.svg') %>";
      window.landingPageMid1URL = "<%= image_url('landing_page/middlediv/middlepic1.svg') %>";
      window.landingPageMid2URL = "<%= image_url('landing_page/middlediv/middlepic2.svg') %>";
      window.landingPageMid3URL = "<%= image_url('landing_page/middlediv/middlepic3.svg') %>";
      window.landingPageMid4URL = "<%= image_url('landing_page/middlediv/middlepic4.svg') %>";
      window.landingPageSparklesURL = "<%= image_url('landing_page/middlediv/sparkles.svg') %>";

      window.loginBGURL = "<%= image_url('login_page/loginBG.jpg') %>"
      window.loginBarcodeURL = "<%= image_url('login_page/barcodefake.png') %>"

      window.whiteDatcordRobot = "<%= image_url('icons/DatcordRobotWhite.png') %>"
      window.createServerIcon = "<%= image_url('icons/createServerIcon.svg') %>"
      window.rightArrowIcon = "<%= image_url('icons/rightArrow.svg') %>"
      window.inputImageIcon = "<%= image_url('icons/inputImage.svg') %>"
      window.clubCommunityIcon = "<%= image_url('icons/clubCommunity.svg') %>"
      window.meFriendsIcon = "<%= image_url('icons/meFriends.svg') %>"
      window.uploadImageIcon = "<%= image_url('icons/uploadImageIcon.svg') %>"

      window.githubLogo = "<%= image_url('icons/githubLogo.png') %>"
      window.linkedInLogo = "<%= image_url('icons/linkedInLogo.png') %>"

      window.grayDatcordRobot = "<%= image_url('icons/GrayDatcordRobot.png') %>"
      window.wumpus = "<%= image_url('wumpus.svg') %>"
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;800;600;700;900&display=swap" rel="stylesheet">
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
