<!DOCTYPE html>
<html>
  <head>
    <title>Datcord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('DatcordLogoColor.png') %>">
    <script type="text/javascript">
      window.downloadIconURL = "<%= image_url('icons/download.png')%>"
      window.headerLogoURL = "<%= image_url('landing_page/LandingPageHeaderLogo.png') %>";
      window.landingPageCityURL = "<%= image_url('landing_page/background/city.png') %>";
      window.landingPageGroupURL = "<%= image_url('landing_page/background/group.png') %>";
      window.landingPageManFrogURL = "<%= image_url('landing_page/background/manfrog.png') %>";
      window.landingPageCastle1URL = "<%= image_url('landing_page/background/castlecloud.png') %>";
      window.landingPageCastle2URL = "<%= image_url('landing_page/background/castlecloud2.png') %>";
      window.landingPageDiamondURL = "<%= image_url('landing_page/background/diamond.png') %>";
      window.landingPageFloatingShipURL = "<%= image_url('landing_page/background/ship.png') %>";
      window.landingPageBalloonGuyURL = "<%= image_url('landing_page/background/balloonguy.png') %>";
      window.landingPageSmallBottomCloud1URL = "<%= image_url('landing_page/background/clouds/smallbottomcloud1.png') %>";
      window.landingPageSmallBottomCloud2URL = "<%= image_url('landing_page/background/clouds/smallbottomcloud2.png') %>";
      window.landingPageMediumLBCloudURL = "<%= image_url('landing_page/background/clouds/mediumlbcloud.png') %>";
      window.landingPageMediumBCloudURL = "<%= image_url('landing_page/background/clouds/mediumbcloud.png') %>";
      window.landingPageMediumDBCloudURL = "<%= image_url('landing_page/background/clouds/mediumdbcloud.png') %>";
      window.landingPageMediumPCloudURL = "<%= image_url('landing_page/background/clouds/mediumpcloud.png') %>";
      window.landingPageLargeBCloud1URL = "<%= image_url('landing_page/background/clouds/largeblue1.png') %>";
      window.landingPageLargeBCloud2URL = "<%= image_url('landing_page/background/clouds/largeblue2.png') %>";
      window.landingPageLargeLBCloud1URL = "<%= image_url('landing_page/background/clouds/largelightblue1.png') %>";
      window.landingPageLargeLBCloud2URL = "<%= image_url('landing_page/background/clouds/largelightblue2.png') %>";
      window.landingPageSlice1URL = "<%= image_url('landing_page/background/slices/slice1.png') %>";
      window.landingPageSlice2URL = "<%= image_url('landing_page/background/slices/slice2.png') %>";
      window.landingPageSlice3URL = "<%= image_url('landing_page/background/slices/slice3.png') %>";
      window.landingPageSlice4URL = "<%= image_url('landing_page/background/slices/slice4.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
